.pulsBtn {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply bg-yellow-400 rounded-full;
  padding: 16px 24px;
  animation: radial-pulse 1s infinite;
  font-weight: 600;
  font-size: 16px;
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(250, 204, 21, 0.8);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(18, 123, 230, 0);
  }
}
.MuiTouchRipple-root .css-8je8zh-MuiTouchRipple-root {
  
}